# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist

# jest
/coverage
/__tests__/__snapshots__

# misc
.DS_Store
desktop.ini
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bundle.zip
.vscode